.admin-sidebar{
 @extend .bg-secondary;
&.main-sidebar{
    position: fixed !important;
    ul .fas{
        display: inline-block !important;
    }  
}

  .nav-sidebar{
    a{
        &.active,&:hover{
            background-color: $primary !important;
            border-radius: 0 !important;
            -webkit-border-radius: 0 !important;
            -moz-border-radius: 0 !important;
            -ms-border-radius: 0 !important;
            -o-border-radius: 0 !important;
}
    }
  }
 .brand-link{
     border-color: $white;
 }
}

.sidebar-collapse{
    .content-wrapper,.collapse-nav{
        @extend .w-100;
    }
}

.collapse-nav{
    width: calc(100% - 180px);
}

.admin-wrapper{
    table.table-bordered.dataTable th,
     table.table-bordered.dataTable td{
        line-height: 1.3;
    }
    .nav-pills{
        .nav-link{
            &.active{
            color: #212529;
            }
            &:hover{
                color: $primary;
            }
        }
    }
    .form-group .fa-calendar-alt{
        top: 0;
    }
    label{
        @extend .w-100;
    }
    .dataTables_filter{
        label{
            @extend .w-100;
        }
    }
    .form-wrap{
        @extend .bg-light;
    }
    &.content-wrapper{
        width: calc(100% - 180px);
       @extend .ml-auto;
    }
    h1,.h1{
        @extend .h1;
        @extend .text-uppercase;
        @extend .text-white;
        @extend .text-center;
    }
   .breadcrumb-item a, .breadcrumb-item{
    @extend .text-white;
   }

   .btn-primary{
    @extend .btn-primary;
   }

   .btn{
    @extend .btn;
    background-image: none;
   }

   .dt-button{
       &.dropdown-item{
           &:hover{
            background-color: #4e9cba; 
           }
       }
   }
   .breadcrumb-item+.breadcrumb-item::before{
    color: $primary; 
   }

   .dt-button-collection{
       .dropdown-menu{
        background-color: $primary;
       }
   }

   .dt-buttons{
       button{
           @extend .btn;
           @extend .btn-primary;
           background-image: none !important;
       }
   }
}

.btn{
    background-image: none !important;
}

.admin-nav{
    .nav-link{
        &:hover{
            color: $primary !important;
        }
    }
}