.admin-sidebar {
  background-color: $secondary-color !important;
  .nav-link p{
    font-size: 15px;
  }
  &.main-sidebar {
    position: fixed !important;
    ul .fas{
        display: inline-block !important;
        font-size: 11px;
    }  
    .nav-treeview{
        .nav-item{
            p{
                font-size: 14px;
            }
        }
      }
    }

  .nav-sidebar {
    a {
      &.active,
      &:hover {
        background-color: $primary !important;
        border-radius: 0 !important;
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        -ms-border-radius: 0 !important;
        -o-border-radius: 0 !important;
      }
    }
  }
  .brand-link {
    border-color: $white;
  }
}

.sidebar-collapse {
  .content-wrapper,
  .collapse-nav {
    @extend .w-100;
  }
}

.collapse-nav {
  width: calc(100% - 250px);
}

.admin-wrapper {
  > div {
    z-index: 1;
  }
  .page-item.disabled .page-link {
    color: $secondary-color;
  }
  .content-header,
  .content-wrapper,
  .content {
    z-index: 1;
    position: relative;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $secondary-color;
    opacity: 0.5;
    z-index: 0;
  }
  table.table-bordered.dataTable th,
  table.table-bordered.dataTable td {
    line-height: 1.3;
  }
  .nav-pills {
    .nav-link {
      &.active {
        color: #212529 !important;
      }
      &:hover {
        color: $primary;
      }
    }
  }
  .form-group .fa-calendar-alt {
    top: 0;
  }
  label {
    @extend .w-100;
  }
  .dataTables_filter {
    float: right;  
    label {
      @extend .w-100;
    }
  }
  .form-wrap {
    @extend .bg-light;
  }
  &.content-wrapper {
    width: calc(100% - 250px);
    @extend .ml-auto;
  }
  h1,
  .h1 {
    @extend .h1;
    @extend .text-uppercase;
    @extend .text-white;
    @extend .text-center;
  }
  .breadcrumb-item a,
  .breadcrumb-item {
    @extend .text-white;
  }

  .btn-primary {
    @extend .btn-primary;
  }

  .btn {
    @extend .btn;
    background-image: none;
  }

  .dt-button {
    &.dropdown-item {
      &:hover {
        background-color: $secondary-color;
      }
    }
  }
  .breadcrumb-item + .breadcrumb-item::before {
    color: $primary;
  }

  .dt-button-collection {
    .dropdown-menu {
      background-color: $primary;
    }
  }

  .dt-buttons {
    margin-left:10px;
    button {
      @extend .btn;
      @extend .btn-primary;
      background-image: none !important;
    }
  }
}

.btn {
  background-image: none !important;
}

.admin-nav {
  .nav-link {
    &:hover {
      color: $primary !important;
    }
  }
}

#generate-code {
  @extend .btn-secondary;
  white-space: nowrap;
}

.generate-Coupon .select2-container--default .select2-selection--multiple {
  border: 0;
}

.flatpickr-input,
.vs__dropdown-toggle {
  @extend .form-control;
}

.dataTables_wrapper {
  .custom-select-sm {
    padding-right: 26px !important;
  }
  .data-table {
    min-width: auto !important;
  }
  td {
    a:not(:last-child) {
      @extend .mr-2;
    }
  }
}

.paginate_button {
  cursor: pointer;
}

.vs__dropdown-toggle{
@extend .d-flex;
}

.site-logo{
    width: 17rem;
}

#assignRecord{
  z-index: 9999;
}

div.dataTables_wrapper div.dataTables_filter label{
  @extend .text-right;
}

.email-card{
  display: block;
  font-size: 1.25rem;
  font-weight: 500;
  background-color: rgb(234, 234, 234) !important;
  text-decoration: none !important;

}