.circled-grid {
  width: 4.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  border: 1px solid $gray-600;
  transition: 0.2 all linear;
  -webkit-transition: 0.2 all linear;
  -moz-transition: 0.2 all linear;
  -ms-transition: 0.2 all linear;
  -o-transition: 0.2 all linear;
  &:hover {
    background-color: $gray-600;
    color: $white !important;
  }
}

.dashboard-info {
  h3 {
    font-weight: 500;
  }
  p {
    font-size: 1.2rem;
    font-weight: 500;
  }
  a:not(.btn) {
    text-decoration: underline;
  }
  a,
  p {
    color: $text-color;
  }
}

.total-amount {
  span {
    font-size: 24px;
    font-weight: 700;
  }
}

.rounded-input {
  width: 180px;
  font-size: 1em;
  padding: 6px 15px;
  margin: 0;
  border-radius: 1.2em;
}

.table-styling .fas{
    width: 30px;
    height: 30px;
    background-color: $primary;
    line-height: 30px;
    font-size: 18px;
    border-radius: 4px;
    margin-top: 5px;
    cursor: pointer;
}

.service-list{
    h2{
        font-size: 16px;
        font-weight: 300;
        span{
            font-size: 13px;
        }
    }
    p{
        font-weight: 300;
        span{
            font-size: 20px;
        }
    }
    >.bg-white{
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
}
    .col-sm-9{
        >.h-100{
            flex: 1;
            & + .h-100{
              border-left: 1px solid #ccc;
            }
        }
    }
    .col-sm-3{
        .bg-secondary{
            &::after{
                position: absolute;
                width: 30px;
                height: 100%;
                background-color: #4e9cba;
                content:'';
                top: 0;
                left: 0;
            }
        }
    }
}
.table-styling .fas {
  width: 30px;
  height: 30px;
  background-color: $primary;
  line-height: 30px;
  font-size: 18px;
  border-radius: 4px;
  margin-top: 5px;
  cursor: pointer;
}
