.main-sidebar {
  width: 180px;
  height: 100vh;

  ul {
    ul {
      li {
        a {
          padding-left: 1rem;
        }
      }
    }
  }

  * {
    color: $white;
  }

  a {
    text-transform: capitalize;
    width: 100%;
    padding: .5rem;

    &:hover {
      text-decoration: none;
      background-color: $primary;
      color: $black;
    }
  }

}

.main-content {
  width: calc(100% - 180px);

  .form-content {
    max-width: 97%;
  }
}

.payment-info{
  padding-left: 2.5rem;
  h3{
    font-size: 1.3125rem;
    font-weight: 700;
    text-transform: capitalize;
    color: $black;
  }
  p{
    margin-bottom: 0;
  }
}

.payment-method{
 h2 + h3{
    background-color: $gray-base;
    padding-left: 2.5rem;
  }
  li:nth-child(even) {
    background-color: $white;
}
.form-check{
  top: 11px;
}
}

.table-content{
  a:not(.btn){
    text-decoration: underline;
  }
  .cart-total{
    background-color: #c2c2c2;
    
  }
  h3{
    font-weight: 300;
    font-size: 1.125rem;
    color: $black;
  }
p{
  font-weight: 300;
  margin-bottom: 0;
}
.edit{
  a{
    color: #5097EF;
  }
}
.price{
  p{
    font-family:  $lato-font;
    font-weight: 400;
  }
}
}