.main-sidebar{
    width: 180px;
    ul{
        ul{
            padding-left: 1rem;
        }
    }
    *{
        color: $white;
    }
    a{
        text-transform: capitalize;
        margin-bottom: 1rem;
        &:hover{
            text-decoration: none;
        }
    }
}

.main-content{
    width: calc(100% - 180px);
    .form-content{
        max-width: 97%;
    }
}

