/** Footer CSS  **/

.social-icons{
    i{
        font-size: 1.9rem;
        color: $border-color;
    }
}

.main-footer{
    padding-top: 20px;
    padding-bottom: 20px;
    bottom: -3px;
    *:not(.btn){
        color: $border-color;
    }
}

.copyright{
    font-size: 1.1875rem;
}