
.form-wrap{
    max-width: 45%;
    margin: 135px auto;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    h2{
        margin-bottom: 12px;
    }
}

label{
    font-size: 14px;
    color: #888888;
    width: 100px;
    & + div{
      width: calc(100% - 100px);
    }
}

.alert{
    color: #F55;
    background-color: transparent;
    border: 0;
    font-weight: 700;
    margin-bottom: 0;
}
