.form-wrap {
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;

  h2 {
    margin-bottom: 2rem;
  }
}

.form-content {
  margin: 135px auto;
}

label {
  font-size: 13px;
  color: #888888;
  padding-right: 8px;
  line-height: 20px;
  font-weight: 400 !important;
}

.alert {
  color: #f55;
  background-color: transparent;
  border: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.seperator {
  border-bottom: 2px solid #ccc;
  padding-bottom: 2rem;
}

.seperator-top {
  border-top: 2px solid #ccc;
  padding-top: 2rem;
}

.min-select {
  width: 100px;
}

.form-control_upload {
  min-height: 44px;
}

select.form-control {
  padding: 3px;
}

textarea {
  resize: none;
}

.links-list {
  text-decoration: underline;

  a {
    text-decoration: underline;
    font-size: 18px;
    color: $light-blue;
    text-transform: uppercase;

    &:hover,
    :focus {
      outline: none;
    }
  }
}

.form-check-input {
  margin-top: 3px;
}

.form-check[data-toggle="modal"] {
  cursor: pointer;
}

.form-group select {
  //padding: 6px;
  width: 100%;
}

.form-group .fa-calendar-alt {
  position: absolute;
  top: 9px !important;
  right: 10px;
  color: $gray-700;
  pointer-events: none;
}

.form-group label+.fa-calendar-alt {
  top: 40px !important;
  right: 24px;
}

.enlarge-input {
  input {
    width: 28px !important;
    height: 28px !important;

    &[type="checkbox"],
    &[type="radio"] {
      border-width: 3px;
    }

    &[type="checkbox"] {
      &:checked {
        &:before {
          top: 2px;
          left: 1px;
          font-size: 18px;
        }
      }
    }

    &[type="radio"] {
      &:checked {
        &:before {
          top: 4px;
          left: 4px;
          width: 14px;
          height: 14px;
        }
      }
    }
  }
}

.inner-form-wrapper {
  max-width: 750px;
  margin: 0 auto;
  padding: 0 15px;
}

.label-styling {
  label {
    padding-right: 28px;
    width: 270px;
  }
}

.label-xl label {
  font-size: 17px;
}

.label-md label {
  font-size: 15px;
}

.unstyled-label {
  label {
    width: auto;

    &+div {
      width: auto;
    }
  }
}

label.h3 {
  &.text-black {
    font-weight: 500;
  }
}

.tooltip-styling {
  font-size: 24px;
}

.remove {
  position: absolute;
  right: 0;
  top: -32px;
  color: $white;
  text-decoration: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  background-color: $blue;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -ms-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;

  &:hover {
    background-color: $primary;
  }

  .fa-times {
    line-height: 25px;
  }

  &.place-top {
    top: 0;
  }
}

.additional-sign {
  height: 33px;
  width: 32px;
  border: 1px solid #ccc;
  border-right: 0;
  text-align: center;
  line-height: 31px;
  color: #000;
  background: #e9ecef;
}

.min-table {
  min-width: 500px;
}

.label-large {
  label {
    font-size: 18px;
  }
}

input[type="checkbox"],
input[type="radio"] {
  border: 3px solid #ccc;
  background: $white;
  clear: none;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  padding: 0 !important;
  text-align: center;
  min-width: 16px;
  -webkit-appearance: none;
  box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
  transition: border-color 50ms ease-in-out;
  width: 11px;
  height: 16px;
  border-width: 1px;
}

table input[type="checkbox"],
table input[type="radio"] {
  top: 0;
}

input[type="checkbox"] {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  top: 4px;
  position: relative;
}

input[type="radio"] {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: -3px;
  position: absolute;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
  border-color: $primary;
}

input[type="checkbox"]:checked:before,
input[type="radio"]:checked:before {
  position: absolute;
  top: 2px;
  left: 2px;
}

input[type="checkbox"]:checked:before {
  content: "\F00C";
  margin: 0;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  color: $light-blue;
  font-size: 11px;
}

input[type="radio"]:checked:before {
  background-color: $light-blue;
  width: 10px;
  height: 10px;
  content: "";
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  left: 2px;
}

.max-table {
  max-height: 275px;
}

.select2-selection__choice__remove {
  z-index: 2;
  position: relative !important;
}

.flatpickr-input+input {
  padding-right: 30px;
}

.textarea_large {
  height: 110px !important;
}


//////family details form

.family-details{
  .nav{
   justify-content: space-around;
   .nav-link{
    border-bottom: 2px solid transparent;
    transition: .2s all;
  }
   .nav-link:hover{
     border-bottom: 2px solid #ff9900;
   }
  }
  form.is-readonly .btn-save {
    display: none;
  }

  form.is-readonly input[disabled],
  form.is-readonly textarea[disabled] {
    cursor: text;
    background-color: #fff;
    border-color: transparent;
    outline-color: transparent;
    box-shadow: none;
  }

  form.is-editing .btn-edit {
    display: none;
  }
  .parents-details,
  .students-details {
    .form-group {
      display: flex;
      align-items: center;
      margin-bottom: 5px;   

      label {
        max-width: 120px;
        margin-bottom: 0;
      }
    }
  }

}



