
.form-wrap{
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    h2{
        margin-bottom: 2rem;
    }
}

.form-content{
    margin: 135px auto;
}

label{
    font-size: 13px;
    color: #888888;

    padding-right: 8px;
    line-height: 20px;

}

.alert{
    color: #F55;
    background-color: transparent;
    border: 0;
    font-weight: 700;
    margin-bottom: 0;
}


.seperator{
    border-bottom: 2px solid #ccc;
    padding-bottom: 2rem;
}



select.form-control{
    padding: 3px;
}

textarea{
    resize: none;
}

.links-list{
    padding-left: 135px;
    text-decoration: underline;
    button{
        font-size: 18px;
        color: $light-blue;
        &:hover,:focus{
            outline: none;
        }
    }
}
.form-check-input{
    margin-top: 3px;
}

.form-check[data-toggle="modal"]{
cursor: pointer;
}