.form-wrap{
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    h2{
        margin-bottom: 2rem;
    }
}

.form-content{
    margin: 135px auto;
}

label{
    font-size: 13px;
    color: #888888;
    padding-right: 8px;
    line-height: 20px;

}

.alert{
    color: #F55;
    background-color: transparent;
    border: 0;
    font-weight: 700;
    margin-bottom: 0;
}


.seperator{
    border-bottom: 2px solid #ccc;
    padding-bottom: 2rem;
}

.min-select{
    width: 100px;
}

select.form-control{
    padding: 3px;
}

textarea{
    resize: none;
}

.links-list{
    padding-left: 135px;
    text-decoration: underline;

    a{
        font-size: 18px;
        color: $light-blue;
        text-transform: uppercase;
        &:hover,:focus{
            outline: none;
        }
    }
}
.form-check-input{
    margin-top: 3px;
}

.form-check[data-toggle="modal"]{
cursor: pointer;
}

.form-group .fa-calendar-alt{
    position: relative;
    top: 7px;
    left: 9px;
    color: $gray-700;
}

.enlarge-input{
    input{
        width: 28px;
        height: 28px;
    }
}

.inner-form-wrapper{
    max-width: 750px;
    margin: 0 auto;
    padding: 0 15px;

}

.label-styling{
    label{
    padding-right: 28px;
    width: 270px;
    }
}

.label-xl label{
    font-size: 17px;
}

.label-md label{
   font-size: 15px;
}

.unstyled-label{
    label{
        width: auto;
        & + div{
         width: auto;
        }
    }
}

label.h3{
    &.text-black{
      font-weight: 500;
    }
}

.tooltip-styling{
    font-size: 24px;
}

.remove{
    position: absolute;
    right: 0;
    top: -20px;
    text-decoration: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    background-color: #4e9cba;
    transition: all ease .2s;
    -webkit-transition: all ease .2s;
    -moz-transition: all ease .2s;
    -ms-transition: all ease .2s;
    -o-transition: all ease .2s;
    &:hover{
        background-color: $primary;
    }
    .fa-times{
       line-height: 25px;
    }
}



.additional-sign{
    width: 32px;
    border: 1px solid #ccc;
    border-right: 0;
    height: 100%;
    text-align: center;
    line-height: 31px;
    color: #000;
    background: #e9ecef;
}