
.form-wrap{
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    h2{
        margin-bottom: 12px;
    }
}

.form-content{
    max-width: 90%;
    margin: 135px auto;
}

label{
    font-size: 14px;
    color: #888888;
    width: 135px;
    padding-right: 8px;
    line-height: 20px;
    & + div{
      width: calc(100% - 135px);
    }
}

.alert{
    color: #F55;
    background-color: transparent;
    border: 0;
    font-weight: 700;
    margin-bottom: 0;
}


.seperator{
    border-bottom: 2px solid #ccc;
    padding-bottom: 2rem;
}

.small-container{
    max-width: 50% !important;
}

select.form-control{
    padding: 3px;
}

textarea{
    resize: none;
}

.links-list{
    padding-left: 135px;
    text-decoration: underline;
    a{
        font-size: 18px;
        color: $light-blue;
    }
}