/** global styling **/

/* typography */
h1 {
  font-family: $secondary-font;
}

h2,
h3,
.h2,
.h3 {
  color: #235;
}

/* custom classes */

.lato-italic {
  p {
    font-family: $lato-font;
    font-style: italic;
  }

  &.info-detail {
    p {
      font-size: 12px;
      line-height: 16px;
    }
  }
}


.img-absolute {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

p:empty {
  display: none;
}

.flex-grow {
  flex-grow: 1;
}

.email-text_style {
  text-transform: lowercase;
}

audio {
  width: 100%;
  height: 50px;
}

.black-overlay {
  position: relative;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.bg-blue {
  background-color: $secondary-color !important;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

/* links */

.decoration-none {
  &:hover {
    text-decoration: none;
  }
}

/* colors */

.text-black {
  color: $black !important;
}

.gray-bg {
  background-color: #ccc !important;
}

.bg-light {
  background-image: none !important;
}

/* buttons */
button {
  &:focus {
    outline: none;
  }
}

.btn {
  font-weight: 500;
  text-transform: capitalize;
}

.btn-secondary {
  letter-spacing: 2px;
}

.btn-primary {
  &:hover {
    background-color: #ca0;
  }
}

.btn-secondary {
  &:hover {
    text-decoration: none;
    opacity: 0.8;
  }
}

/* images */

.o-cover,
.o-contain {
  width: 100%;
}

.o-cover {
  object-fit: cover;
}

.o-contain {
  object-fit: contain;
}

/* spacing */

.mt-2r {
  margin-top: 2rem !important;
}

.py-2r {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.px-2r {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.pt-2r {
  padding-top: 2rem !important;
}
.pt-10r {
  padding-top: 10rem !important;
}
.pb-5r{
  padding-bottom: 5rem!important;
}

.px-25 {
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important;
}

.max-width__275 {
  max-width: 275px;
}

.h-120 {
  height: 120px !important;
}

/* popup css */

.modal-open .main-sidebar .main-sidebar::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100%;
  z-index: 1040 !important;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-backdrop {
  display: none !important;
}

.modal-body {
  padding-bottom: 1rem !important;

  [data-toggle="modal"] {
    cursor: pointer;
  }

  h3 {
    color: $black;
  }

  p,
  label {
    font-size: 16px;
    line-height: 1.5;
    color: $black;
  }
}

/* tables */
table {
  width: 100%;

  tr {
    line-height: 2;
    font-family: $lato-font;
  }

  tfoot {
    td {
      color: $secondary-color;
    }
  }
}

table,
tr,
td,
th,
tbody,
thead,
tfoot {
  page-break-inside: avoid !important;
}

////tabs 
.tabbable-responsive {
  display: block;
  min-width: 100%;
  overflow-x: auto;
}

.tabbable {
  min-width: 100%;

  .nav-tabs {
    white-space: nowrap;
    display: inline-block;
    min-width: 100%;
    padding: 0px 21px;

    .nav-item {
      display: inline-block;

      .nav-link {
        display: inline-block;
      }
    }
  }
}

/* global css */

.app,
.position-relative {
  position: relative;
}
.position-absolute{
  position: absolute;
}

main {
  min-height: calc(100vh - 95px);
}

sup {
  color: $danger;
  font-size: 14px;
  top: 0;
}

.table-vertical_scroll {
  thead tr th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #ccc;
  }
}


.table-styling,
.data-table {
  min-width: 500px;

  &.enlarge-input {
    td {
      &:first-child {
        position: relative;
        padding-left: 45px;
      }

      input {
        position: absolute;
        left: 26px;
        top: 50%;
        transform: translateY(-50%);
        margin-top: 0;
      }
    }
  }

  thead {
    background-color: #ccc;
  }

  td,
  th {
    padding: 12px 10px;
    font-family: $lato-font;
    line-height: 1.2;
    font-size: 1rem;
    vertical-align: middle;
    text-transform: capitalize;
  }

  tbody {
    td {
      p {
        line-height: 1.2;
        font-size: 1rem;
        font-family: $lato-font;
      }
    }

    tr:nth-child(even) {
      background-color: $white;
    }
  }
}

a.btn {
  -webkit-appearance: none !important;
}

.b-radius-20 {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.datepicker-full {
  >p {
    width: 100%;
  }
}

/* width */
.min-w-100 {
  min-width: 100% !important;
}

/* overlay */

.overlay-black {
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  right: 0;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $secondary-color;
    opacity: 0.5;
  }
}

.bg-primary {
  background-image: none !important;
}

sub {
  bottom: 0.25em;
}

.select2-container {
  width: 100% !important;
}

.choose-btn {
  height: 44px;
}

sub {
  bottom: 0.25em;
}

.transform-none {
  text-transform: none !important;
}

///pdf 
.hg-pdf table tr {
  page-break-inside: avoid;
}

footer {
  .contact-phone {
    font-family: "lato";
  }
}

/*  checkbox  */

.container-checkbox {
  display: block;
  position: relative;
  padding-left: 15px;
  margin-bottom: 12px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 150px;

  /* Hide the browser's default checkbox */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
  }

  /* On mouse-over, add a grey background color */
  &:hover input~.checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  input:checked~.checkmark {
    background-color: #004C99;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }


  /* Show the checkmark when checked */
  input:checked~.checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

//  stikcy nav bar
.sticky {
  position: sticky;
  top:0;
  background:white;
  z-index: 9;   
  box-shadow: 0px 4px 10px rgb(246, 246, 246);
  
}
