/** global styling **/

/* typography */
h1 {
  font-family: $secondary-font;
}

h2,
h3,
.h2,
.h3 {
  color: #235;
}

/* custom classes */

.lato-italic {
  p {
    font-family: $lato-font;
    font-style: italic;
  }

  &.info-detail {
    p {
      font-size: 12px;
      line-height: 16px;
    }
  }
}

.img-absolute {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.black-overlay {
  position: relative;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(0, 0, 0, .3);
  }
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

/* links */

.decoration-none{
 &:hover{
   text-decoration: none;
 }
}

/* colors */

.text-black{
  color: $black !important;
}

.gray-bg{
  background-color: #ccc !important;
}

/* buttons */
button {
  &:focus {
    outline: none;
  }
}

.btn {
  text-transform: capitalize;
  font-weight: 500;
}

.btn-secondary {
  letter-spacing: 2px;
  color: $black;
}

.btn-primary {
  &:hover {
    background-color: #CA0;
  }
}

.btn-secondary {
  &:hover {
    text-decoration: none;
    opacity: 0.8;
  }
}

/* images */

.o-cover,
.o-contain {
  width: 100%;
}

.o-cover {
  object-fit: cover;
}

.o-contain {
  object-fit: contain;
}

/* spacing */

.mt-2r {
  margin-top: 2rem !important;
}

.py-2r {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.px-2r {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.pt-2r {
  padding-top: 2rem !important;
}

.px-25 {
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important;
}

/* popup css */

.modal-body {
  padding-bottom: 1rem !important;

  [data-toggle="modal"] {
    cursor: pointer;
  }

  h3 {
    color: $black;
  }

  p,
  label {
    font-size: 16px;
    line-height: 1.5;
    color: $black;
  }
}


/* tables */
table{
  tr{
    line-height: 2;
    font-family:  $lato-font;
  }
  tfoot{
    td{
      color: #2A9DBE;
    }
  }
}

/* global css */

.app {
  position: relative;
}

main {
  min-height: calc(100vh - 95px);
}

sup {
  color: $danger;
  font-size: 14px;
  top: 0;
}

.table-styling{
  min-width: 500px;
  &.enlarge-input{
    td{
      &:first-child{
        position: relative;
        padding-left: 45px;
      }
      input{
        position: absolute;
        left: 26px;
        top: 50%;
        transform: translateY(-50%);
        margin-top: 0;
      }
    }
  }
  thead{
    background-color: #cccc;
  }
  td,th{
    padding: 5px 10px;
    font-family: "Catamaran",sans-serif;
    line-height: 1.2;
  }
  tbody{
   td{
     p{
       line-height: 1.2;
       font-size: 1rem;
     }
   }
    tr:nth-child(even){
    background-color: $white;
    }
  }
}

a.btn{
  -webkit-appearance: none !important;
}

