/** global styling **/

/* typography */
h1{
  font-family: $secondary-font;
}

h2,h3,.h2,.h3{
  color: #235;
}

/* custom classes */

.lato-italic{
  p{
    font-family: $lato-font;
  }

  &.info-detail{
    p{
    font-size: 12px;
    line-height: 16px;
    }
  }
}

.img-absolute {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.black-overlay {
  position: relative;
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(0, 0, 0, .3);
  }
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

/* buttons */

.btn{
  text-transform: capitalize;
}

.btn-secondary{
  letter-spacing: 2px;
}

.btn-primary{
  &:hover{
    background-color: #CA0;
  }
}

.btn-secondary{
  &:hover{
    text-decoration: none;
    opacity: 0.8;
  }
}

/* images */

.o-cover,
.o-contain {
  width: 100%;
}

.o-cover {
  object-fit: cover;
}

.o-contain {
  object-fit: contain;
}

/* spacing */

.mt-2r{
  margin-top: 2rem !important;
}

.px-25{
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important;
}

/* global css */

.app{
  position: relative;
}

main{
  min-height: calc(100vh - 95px);
}

sup{
  color: $danger;
  font-size: 20px;
  top: 0;
}