/** Header CSS **/
.site-header {
  max-width: 90%;
  margin: 0 auto;
  padding-top: 30px;

  .navbar-toggler[aria-expanded="true"] {

    .icon-bar:nth-child(2) {
      display: none;
    }

    .icon-bar:nth-child(1) {
      transform: rotate(-45deg);
      top: 4px;
    }

    .icon-bar:nth-child(3) {
      top: -2px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
    }
  }

  .navbar-toggler {
    width: 30px;
    height: 30px;
    border: 2px solid $white;
    padding: 5px;
    outline: none;
    border-radius: 3px;
    z-index: 99999;
    .icon-bar {
      width: 100%;
      height: 2px;
      background-color: #fff;
      border-radius: 2px;
      display: block;
      margin-bottom: 4px;
      position: relative;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .btn-primary {
    padding: 0.625rem 1.875rem;
    letter-spacing: 2px;
    font-weight: 600;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;

    &:hover {
      color: #212529;
      background-color: #d9ad00;
      border-color: #cca300;
    }
  }

  .navbar-nav {
    >.nav-item {
      padding: 0 10px;
    }
  }

  .nav-link {
    padding: 13px;
    text-transform: uppercase;
    font-weight: 600;
    color: $white !important;
    font-size: 14px;
    letter-spacing: 2px;
  }

 

  .navbar-brand {
    max-width: 295px;
    width: 100%;
  }
}

.user-login {
  width: 32px;
  height: 32px;
  margin-left: 5px;
}
