/** =============== Responsive CSS =============== **/

// Based on min width

//Extra Large devices
@media (max-width: 1420px) {}

// Large devices
@media (max-width: 1200px) {

  /* Header */
  .site-header {
    .navbar-brand{
      max-width: 265px;
    }
    .navbar-nav>.nav-item {
      padding: 0 3px;
    }

    .navbar-collapse {
      padding-right: 5px;
    }
  }
}

// Medium devices
@media (max-width: 991px) {}

// Small devices
@media (max-width: 768px) {

  input,
  textarea,
  select {
    font-size: 16px !important;
  }
}

// Extra small devices
@media (max-width: 575px) {}

// Based on min width


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 767px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .site-header .dropdown-toggle::after{
    display: none;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}