/** =============== Responsive CSS =============== **/

// Based on min width

//Extra Large devices
@media (max-width: 1420px) {}

// Large devices
@media (max-width: 1200px) {

  /* Header */
  .site-header {
    .navbar-brand {
      max-width: 265px;
    }

    .navbar-nav>.nav-item {
      padding: 0 3px;
    }

    .navbar-collapse {
      padding-right: 5px;
    }
  }
}

// Medium devices
@media (max-width: 991px) {
  html {
    font-size: 15px;
  }

  main{
    min-height: auto;
  }

  /* header */
  .site-header {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;

    .action-buttons {
      padding: 13px;
      .btn {
        padding: 4px 12px;
        font-size: 13px;
      }
      .user-login{
        display: block;
        margin-top: 20px;
      }
    }

    .navbar-brand {
      max-width: 195px;
    }

    a {
      &:hover {
        color: $link-color !important;
      }

      text-transform: capitalize !important;
    }

    .dropdown-item {
      color: #fff !important;

      &:hover {
        background-color: transparent;
      }
    }

    .navbar-nav {
      padding-top: 4.5rem;
    }

    .dropdown-menu {
      display: block !important;
      background-color: transparent;
      border: 0;
      padding-top: 0;
    }

    .navbar-collapse {
      position: fixed;
      left: -103%;
      width: 100vw;
      background-color: $gray-600;
      height: 100vh !important;
      transition: left .5s ease;
      top: 0;
      display: block !important;
      overflow-y: auto;
      z-index: 9999;

      &.show {
        left: 0;
      }
    }
  }
  .form-wrap.px-25 {
   padding: 1rem !important;
  }
}

// Small devices
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }

  input,
  textarea,
  select {
    font-size: 16px !important;
  }
  /* Datepicker */
  .vdp-datepicker__calendar{
    width: 100% !important;
  }
  /* sidebar */
  .main-sidebar {
    width: 50px;

    ul {
      li {
        li {
          a {
            padding-left: 0.5rem;
          }
        }
      }
    }

    li {
      a {
        margin-bottom: 1rem;
         text-align: center;
         &:hover span{
          display: block;
          left: 100%;
          top: 50%;
          position: absolute;
          background-color: $primary;
          padding: 7px;
          min-width: 100%;
          white-space: nowrap;
        }
      }

      .fas {
        display: block;
      }

      span {
        display: none;
      }
    }
  }

  .main-content {
    width: calc(100% - 50px);
  }
}

// Extra small devices
@media (max-width: 575px) {
  html {
    font-size: 13px;
  }

  /* Header */
  .site-header .navbar-brand {
    max-width: 142px;
  }

  .user-login {
    width: 27px;
    height: 27px;
  }

  /* Admin css */
  .admin-wrapper{
    .dt-buttons{
      display: block;
      button{
        width: 100%;
        display: block;
        margin-bottom: 15px;
        border-radius: 0 !important;
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        -ms-border-radius: 0 !important;
        -o-border-radius: 0 !important;
}

    }
  }
  /* edit */
  .links-list {
    padding-left: 0;
  }
  .vdp-datepicker input{
   width: 100%;
  }
  .form-group .fa-calendar-alt{
    position: absolute;
    left: auto;
    right: 11px;
    top: 35px;
  }
}

// Based on min width


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

  /* forms */
  label {
    width: 135px;

    &+div {
      width: calc(100% - 135px);
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 767px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .site-header {
    .dropdown-toggle::after {
      display: none;
    }

    .dropdown-menu {
      background-color: $navy-blue;
      width: 230px;
      box-shadow: $box-shadow;
      border-top: 8px solid #FFF;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;

      >li {
        line-height: 1;
      }

      .dropdown-item {
        color: $white !important;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        background-color: transparent !important;
        letter-spacing: 3px;
        padding: 12px 15px;

      }

      li {
        &:last-of-type {
          a {
            padding-bottom: 2px !important;
          }
        }

        &:hover {
          opacity: .8;
        }
      }
    }
  }

  /* form css */
  .small-container {
    max-width: 50% !important;
  }

  .form-content {
    max-width: 90%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .dashboard-options {
    .col-md-3 {
      flex: 0 0 20%;
      max-width: 20%;
    }
  }
}
