/** =============== Typography =============== **/

html,
body {
  position: relative;
  height: 100%;
  color: $black;
}

html {
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  scroll-behavior: smooth;  
}

body {
  font-weight: 400;  
  font-family: $primary-font;       
  // color: $body-color;
}
input, label {
  font-family: $lato-font;
  font-weight: 500;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  display: inline-block;

  &:hover {
    // color: $secondary-color;
  }
}

a:hover,
a:focus {
  background-color: transparent;
}



