@import "variables";
@import "vendor";
@import "typography";
@import "global";
//Page-specific styles
@import "header";
@import 'forms';
@import 'pages/login';
@import 'pages/dashboard';
@import 'pages/register';
@import 'pages/enrollment';
// @import 'social-sharing';
@import 'footer';
@import "responsive";
